PORT=5000
MONGO_URI=mongodb+srv://myAtlasDBUser:himani123@myatlasclusteredu.9vttwvh.mongodb.net/lostandfound?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
NODE_ENV=development
